# Pandas mask test

In [5]:
import pandas as pd
import numpy as np

tdata = pd.DataFrame({"A": [1, 2, 3, 4], "B": [1, 2, 1, 2], "C": [1, 1, 2, 2]})
print(tdata)

mask = tdata.loc[:, ("A", "B")].where(tdata == 1)
print(mask)

   A  B  C
0  1  1  1
1  2  2  1
2  3  1  2
3  4  2  2
    A   B
0   1   1
1 NaN NaN
2 NaN   1
3 NaN NaN

In [6]:
tdata == 2

       A      B      C
0  False  False  False
1   True   True  False
2  False  False   True
3  False   True   True

#Apply sort to subtable

In [15]:
tdata.apply(np.sort, axis=1)

   A  B  C
0  1  1  1
1  1  2  2
2  1  2  3
3  2  2  4

In [19]:
tdata.loc[:, ("A", "B")].apply(np.sort, axis=1)

   A  B
0  1  1
1  2  2
2  1  3
3  2  4

In [25]:
pd.concat([tdata.loc[:, ("A", "B")].apply(np.sort, axis=1), tdata.loc[:, ("B","C")]], axis=1)

   A  B  B  C
0  1  1  1  1
1  2  2  2  1
2  1  3  1  2
3  2  4  2  2

In [31]:
def sorted_table(df, groups):
    return pd.concat([df.loc[:, g].apply(np.sort, axis=1) for g in groups], axis=1)

sorted_table(tdata, [("A", "B"), ("C")])

   A  B  C
0  1  1  1
1  2  2  1
2  1  3  2
3  2  4  2