In [5]:
import pandas as pd
import numpy as np
import timeit
from kernel_fca_oo import LexiSystem
from IPython.display import display, HTML

In [6]:

#data = pd.read_csv(KATALOOG+"cmp-bin-grocery.csv", sep=',', index_col=0, encoding='latin1')

In [7]:
c_i = range(0, 12)
KATALOOG = "..\\"

fns = ["cmp-bin-iapb09.csv",
       "cmp-bin-STT_majandus.csv",
       "cmp-bin-TTTH_kardlaga.csv",
       "cmp-bin-grocery.csv", 
       "cmp-bin-ecommerce-sampled.csv", 
       "cmp-bin-house-votes-84.csv",
       "cmp-bin-instacart-600-sample.csv",
       "cmp-bin-student-gradings.csv"]

for fn in fns:
    print("\nFile:", fn)
    data = pd.read_csv(KATALOOG+fn, sep=',', index_col=0, encoding='latin1')
    result_df = pd.DataFrame(columns = ["time"] + ["c"+str(i) for i in c_i])
    #systems = {"MS": FCASystemDF(data), "FL": FreqLexiSeriateSystem(data)}
    systems = {#"MS": FCASystemDF(data), 
        "CL": LexiSystem(data), 
        "FL": LexiSystem(data, transform="FL"),
        "CLr": LexiSystem(data, refill=True),
        "FLr": LexiSystem(data, transform="FL", refill=True)}
    #for i in range(2, 13, 2):
    #    systems["KM"+str(i)] = KMeansSystem(data, n_chains=i)
    for s_name, system in systems.items():
        start = timeit.default_timer()
        _, uc =  system.conceptchaincover(max_cc=12)
        time = timeit.default_timer() - start
        if len(uc) < len(c_i):
            uc += [np.nan] * (len(c_i) - len(uc))  
        result_df.loc[s_name] = [time] + uc[:len(c_i)]
    #[uc for (_, uc) in zip(system.conceptchaincover())]
    display(result_df)
    result_df.to_csv(path_or_buf=KATALOOG+"res-"+fn)

File: cmp-bin-iapb09.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,0.458477,0.256524,0.189532,0.175187,0.154280,0.123608,0.104380,0.089730,NaN,NaN,NaN,NaN,NaN
FL,0.455144,0.288418,0.240501,0.227072,0.148482,0.127117,0.117198,0.098886,NaN,NaN,NaN,NaN,NaN
CLr,0.400580,0.256524,0.182970,0.150771,0.123913,0.104837,0.087136,NaN,NaN,NaN,NaN,NaN,NaN
FLr,0.431202,0.288418,0.236991,0.206928,0.146040,0.127575,0.115214,0.086830,NaN,NaN,NaN,NaN,NaN

File: cmp-bin-STT_majandus.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,6.973905,0.474560,0.449603,0.441091,0.416328,0.360805,0.324047,0.300058,0.281873,0.268137,0.246276,0.234088,0.201973
FL,7.138864,0.472432,0.409750,0.373960,0.359451,0.345328,0.331012,0.317663,0.266396,0.256723,0.237377,0.229058,0.217063
CLr,7.045641,0.474560,0.449603,0.441091,0.416328,0.360611,0.312633,0.286322,0.268137,0.253240,0.234668,0.219578,0.191720
FLr,6.989027,0.472432,0.409557,0.373186,0.358677,0.344554,0.329851,0.312440,0.290965,0.278390,0.259044,0.249565,0.241246

File: cmp-bin-TTTH_kardlaga.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,2.646423,0.506842,0.416118,0.383173,0.341612,0.288393,0.252408,0.230106,0.203751,0.187532,0.180943,0.165231,0.155601
FL,2.695836,0.506842,0.446021,0.410542,0.392803,0.364927,0.340598,0.329448,0.311708,0.300051,0.233654,0.209833,0.202230
CLr,2.709010,0.506842,0.415611,0.378611,0.337557,0.284845,0.249366,0.227065,0.201723,0.184491,0.177902,0.164217,0.153573
FLr,2.742766,0.506842,0.446021,0.409529,0.391789,0.364927,0.340598,0.328941,0.308667,0.288900,0.277243,0.201723,0.155601

File: cmp-bin-grocery.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,1.016417,0.828431,0.759804,0.710784,0.647059,0.602941,0.568627,0.534314,0.495098,0.460784,0.426471,0.401961,0.377451
FL,0.973428,0.828431,0.767157,0.703431,0.639706,0.580882,0.546569,0.512255,0.487745,0.455882,0.436275,0.409314,0.375000
CLr,0.947214,0.828431,0.759804,0.710784,0.637255,0.593137,0.558824,0.522059,0.492647,0.441176,0.406863,0.384804,0.362745
FLr,0.953923,0.828431,0.767157,0.700980,0.637255,0.575980,0.546569,0.522059,0.497549,0.473039,0.455882,0.441176,0.392157

File: cmp-bin-ecommerce-sampled.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,13.914542,0.891988,0.812306,0.771138,0.727313,0.691899,0.649845,0.620629,0.584329,0.557769,0.528552,0.500221,0.470120
FL,13.912983,0.891988,0.812306,0.766711,0.727756,0.689243,0.653829,0.621514,0.589641,0.560425,0.532537,0.502435,0.471890
CLr,14.167699,0.891988,0.812306,0.771138,0.727313,0.692784,0.650730,0.621514,0.585215,0.554670,0.525896,0.495352,0.468349
FLr,14.036344,0.891988,0.812306,0.766711,0.727756,0.689243,0.653829,0.621514,0.589641,0.560425,0.532537,0.502435,0.471890

File: cmp-bin-house-votes-84.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,4.331589,0.831950,0.728734,0.603734,0.407158,0.282936,0.226141,0.188797,0.139782,0.108143,0.084284,NaN,NaN
FL,4.715081,0.831172,0.696836,0.621369,0.525934,0.450985,0.393672,0.305239,0.229772,0.189056,0.143413,0.087656,NaN
CLr,3.944589,0.831950,0.727956,0.605550,0.388745,0.231846,0.178164,0.147822,0.121888,0.089990,NaN,NaN,NaN
FLr,4.275251,0.831172,0.696836,0.621110,0.510373,0.439315,0.383039,0.274118,0.199948,0.152230,0.090768,NaN,NaN

File: cmp-bin-instacart-600-sample.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,7.873760,0.836632,0.796211,0.762316,0.730105,0.700421,0.678737,0.655158,0.633684,0.610737,0.593053,0.575368,0.556632
FL,7.669047,0.837895,0.796632,0.759789,0.727158,0.697474,0.672000,0.646526,0.623789,0.605474,0.587579,0.569263,0.553684
CLr,7.692984,0.836632,0.793895,0.754105,0.723158,0.690105,0.664000,0.646526,0.623579,0.599158,0.579579,0.562316,0.549474
FLr,7.648546,0.837895,0.795368,0.748632,0.715368,0.685053,0.659368,0.636632,0.614105,0.594526,0.572842,0.556211,0.542526

File: cmp-bin-student-gradings.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CL,4.414657,0.600918,0.490050,0.423792,0.356440,0.307019,0.263503,0.234201,0.201837,0.173846,0.141045,0.119178,0.097966
FL,4.577220,0.600918,0.504045,0.437568,0.375465,0.321889,0.276842,0.239886,0.206210,0.178657,0.151323,0.131642,0.110868
CLr,3.985085,0.600918,0.489613,0.418544,0.351629,0.284277,0.231139,0.192871,0.153947,0.114586,0.098185,NaN,NaN
FLr,4.192779,0.600918,0.494642,0.415264,0.338727,0.293899,0.256068,0.203586,0.155259,0.130549,0.102777,0.083096,NaN

In [8]:
4000*0.625

2500.0