In [6]:
import pandas as pd
import numpy as np
import timeit
from kernel_fca_oo import LexiSystem, FreqLexiSeriateSystem, ConfLexiSeriateSystem, FCASystemDF, KMeansSystem
from IPython.display import display, HTML

In [7]:
df = pd.DataFrame({'a': [0,1,1], 'b': [0,0,1]})
df.sum().sum()

3

In [8]:

#data = pd.read_csv(KATALOOG+"cmp-bin-grocery.csv", sep=',', index_col=0, encoding='latin1')

In [9]:
c_i = range(0, 12)
KATALOOG = "..\\"

fns = ["ds1.csv",
       "cmp-bin-zoo.csv",
       #"cmp-bin-priv2.csv",
       "cmp-bin-iapb09.csv",
       "cmp-bin-STT_majandus.csv",
       "cmp-bin-TTTH_kardlaga.csv",
       "cmp-bin-grocery.csv", 
       "cmp-bin-ecommerce-sampled.csv", 
       "cmp-bin-house-votes-84.csv",
       "cmp-bin-instacart-600-sample.csv",
       "cmp-bin-student-gradings.csv",
       "cmp-bin-taro-1.csv",
       "cmp-bin-taro-2.csv",
       "cmp-bin-taro-3.csv",
       "cmp-bin-taro-4.csv"]

for fn in fns:
    print("\nFile:", fn)
    data = pd.read_csv(KATALOOG+fn, sep=',', index_col=0, encoding='latin1')
    result_df = pd.DataFrame(columns = ["time"] + ["c"+str(i) for i in c_i])
    #systems = {"MS": FCASystemDF(data), "FL": FreqLexiSeriateSystem(data)}
    systems = {"CLF": LexiSystem(data, transform="CL", full_lexi=True),
               "FLF": LexiSystem(data, transform="FL", full_lexi=True),
               "CL": LexiSystem(data, transform="CL", full_lexi=False),
               "FL": LexiSystem(data, transform="FL", full_lexi=False),
               "CLS": ConfLexiSeriateSystem(data), 
               "FLS": FreqLexiSeriateSystem(data)}
    ones = data.sum().sum()
    for s_name, system in systems.items():
        start = timeit.default_timer()
        if s_name in ("CL", "FL", "CLF", "FLF"):
            #_, uc =  system.conceptchaincover(uncovered=0.1, max_cc=20)
            _, uc =  system.conceptchaincover(min_cost=True)
        else:
            _, uc =  system.conceptchaincover_v2(uncovered=0.1, max_cc=20)
        time = timeit.default_timer() - start
        if len(uc) < len(c_i):
            uc += [np.nan] * (len(c_i) - len(uc))  
        result_df.loc[s_name] = [time] + uc[:len(c_i)]
    #[uc for (_, uc) in zip(system.conceptchaincover())]
    display(result_df)
    result_df.to_csv(path_or_buf=KATALOOG+"res-"+fn)

File: ds1.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,0.230782,0.856611,0.709497,0.588454,0.478585,0.394786,0.309125,0.247672,NaN,NaN,NaN,NaN,NaN
FLF,0.222765,0.862197,0.729981,0.610801,0.508380,0.400372,0.318436,0.238361,NaN,NaN,NaN,NaN,NaN
CL,0.187178,0.856611,0.709497,0.588454,0.482309,0.392924,0.314711,0.240223,NaN,NaN,NaN,NaN,NaN
FL,0.183774,0.862197,0.729981,0.610801,0.508380,0.400372,0.322160,0.245810,NaN,NaN,NaN,NaN,NaN
CLS,0.299484,0.856611,0.718808,0.608939,0.506518,0.402235,0.318436,0.238361,0.199255,0.152700,0.122905,0.089385,NaN
FLS,0.279077,0.862197,0.726257,0.599628,0.493482,0.415270,0.350093,0.279330,0.210428,0.175047,0.132216,0.098696,NaN

File: cmp-bin-zoo.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,0.130285,0.574242,0.443939,0.233333,0.131818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLF,0.131797,0.581818,0.445455,0.248485,0.174242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CL,0.098956,0.574242,0.443939,0.225758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL,0.097980,0.581818,0.445455,0.240909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CLS,0.123650,0.574242,0.443939,0.227273,0.128788,0.063636,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLS,0.145523,0.581818,0.445455,0.378788,0.292424,0.110606,0.068182,NaN,NaN,NaN,NaN,NaN,NaN

File: cmp-bin-iapb09.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,0.552685,0.256524,0.186022,0.167557,0.133984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLF,0.558208,0.288418,0.236380,0.209522,0.167862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CL,0.429081,0.256524,0.187090,0.168778,0.137342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL,0.422073,0.288418,0.239585,0.224477,0.151228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CLS,1.713209,0.256524,0.232107,0.216695,0.198535,0.191058,0.179765,0.157790,0.120250,0.104837,0.092935,NaN,NaN
FLS,2.242060,0.288418,0.267358,0.251335,0.233176,0.219289,0.204792,0.179765,0.152449,0.138868,0.126354,0.12025,0.100107

File: cmp-bin-STT_majandus.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,7.675598,0.474560,0.449603,0.441091,0.416328,0.360611,0.312633,0.288644,0.270265,0.255175,0.234668,0.222674,0.205649
FLF,7.519240,0.472432,0.409557,0.373186,0.358483,0.344361,0.329658,0.312633,0.292126,0.277036,0.262914,0.248404,0.225382
CL,4.679997,0.474560,0.449603,0.441091,0.416328,0.360611,0.312633,0.286322,0.268137,0.253240,0.232927,0.220932,0.203908
FL,4.432502,0.472432,0.409557,0.373186,0.358677,0.344554,0.329851,0.313794,0.293287,0.281292,0.268524,0.254014,0.246856
CLS,3.669766,0.474560,0.440704,0.414587,0.390404,0.362739,0.334881,0.313213,0.289611,0.274521,0.262140,0.228671,0.212807
FLS,3.592865,0.472432,0.438576,0.419423,0.382472,0.353647,0.330625,0.321532,0.293480,0.285548,0.275875,0.260205,0.252080

File: cmp-bin-TTTH_kardlaga.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,2.275967,0.506842,0.415611,0.378611,0.337557,0.284845,0.249366,0.227065,0.201723,0.185504,0.178915,0.158642,0.148505
FLF,2.241345,0.506842,0.446021,0.409529,0.391789,0.364927,0.340598,0.323872,0.306133,0.288393,0.264065,0.255449,0.217435
CL,1.308123,0.506842,0.415611,0.378611,0.337557,0.284845,0.249366,0.227065,0.202230,0.186011,0.179422,0.164724,0.154587
FL,1.247086,0.506842,0.446021,0.409529,0.391789,0.364927,0.340598,0.329448,0.309174,0.293462,0.227572,0.203751,0.191586
CLS,2.193894,0.506842,0.473391,0.449569,0.413583,0.374557,0.349214,0.313229,0.282818,0.271668,0.252914,0.216929,0.189559
FLS,2.158615,0.506842,0.448555,0.425241,0.397364,0.361885,0.355803,0.348201,0.323365,0.301571,0.287886,0.278256,0.253928

File: cmp-bin-grocery.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,0.654115,0.828431,0.759804,0.710784,0.637255,0.593137,0.558824,0.519608,0.482843,0.448529,0.414216,0.384804,0.360294
FLF,0.620462,0.828431,0.767157,0.700980,0.637255,0.575980,0.541667,0.509804,0.470588,0.438725,0.411765,0.367647,0.330882
CL,0.439614,0.828431,0.759804,0.710784,0.639706,0.595588,0.561275,0.526961,0.487745,0.453431,0.419118,0.394608,0.365196
FL,0.464386,0.828431,0.767157,0.703431,0.639706,0.578431,0.544118,0.512255,0.475490,0.443627,0.416667,0.392157,0.352941
CLS,0.977518,0.828431,0.759804,0.720588,0.681373,0.622549,0.585784,0.531863,0.490196,0.455882,0.443627,0.406863,0.372549
FLS,0.923139,0.828431,0.767157,0.703431,0.654412,0.593137,0.561275,0.519608,0.485294,0.460784,0.438725,0.414216,0.399510

File: cmp-bin-ecommerce-sampled.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,4.791133,0.891988,0.812306,0.771138,0.727313,0.691899,0.649845,0.620629,0.584329,0.557769,0.528552,0.500221,0.470120
FLF,4.593023,0.891988,0.812306,0.766711,0.727756,0.689243,0.653829,0.621514,0.589641,0.560425,0.532537,0.502435,0.471890
CL,2.547607,0.891988,0.812306,0.771138,0.727313,0.691899,0.649845,0.620629,0.584329,0.557769,0.528552,0.500221,0.470120
FL,2.505535,0.891988,0.812306,0.766711,0.727756,0.689243,0.653829,0.621514,0.589641,0.560425,0.532537,0.502435,0.471890
CLS,2.234338,0.891988,0.812306,0.771138,0.727313,0.691899,0.649845,0.620629,0.584329,0.553785,0.526339,0.499336,0.469677
FLS,2.260929,0.891988,0.812306,0.766711,0.727756,0.689243,0.653829,0.621514,0.589641,0.560425,0.532537,0.502877,0.471890

File: cmp-bin-house-votes-84.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,0.303257,0.831950,0.727956,0.604253,0.403268,0.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLF,0.368187,0.831172,0.696836,0.621629,0.511929,0.438278,0.381224,0.277749,NaN,NaN,NaN,NaN,NaN
CL,0.243691,0.831950,0.727956,0.579876,0.364627,0.240664,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL,0.287309,0.831172,0.696836,0.621110,0.511929,0.439834,0.382521,0.279046,NaN,NaN,NaN,NaN,NaN
CLS,0.388412,0.831950,0.761151,0.675571,0.491961,0.306276,0.234959,0.197873,0.163900,0.115405,0.102697,0.084284,NaN
FLS,0.415085,0.831172,0.765301,0.690612,0.615145,0.550571,0.467842,0.400156,0.352438,0.287344,0.241961,0.180239,0.096732

File: cmp-bin-instacart-600-sample.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,7.822095,0.836632,0.793895,0.756211,0.725684,0.691158,0.665895,0.642947,0.616000,0.594947,0.577895,0.561684,0.537895
FLF,7.423197,0.837895,0.796632,0.748211,0.714526,0.691368,0.666105,0.641053,0.619579,0.596421,0.573053,0.556421,0.537684
CL,4.546134,0.836632,0.794105,0.756632,0.726737,0.692000,0.666526,0.643579,0.616842,0.595789,0.578737,0.562526,0.539158
FL,4.330074,0.837895,0.796632,0.749263,0.715579,0.691579,0.665263,0.640421,0.620421,0.598737,0.578737,0.560000,0.544000
CLS,2.429344,0.836632,0.790737,0.762526,0.726105,0.697474,0.666737,0.646947,0.624000,0.604211,0.580421,0.564842,0.548421
FLS,2.385596,0.837895,0.797053,0.768842,0.732000,0.703368,0.681684,0.654316,0.631368,0.609263,0.595368,0.573895,0.558737

File: cmp-bin-student-gradings.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,0.417799,0.600918,0.489613,0.420512,0.346818,0.280778,0.234201,NaN,NaN,NaN,NaN,NaN,NaN
FLF,0.491577,0.600918,0.494642,0.416138,0.342445,0.288869,0.244697,NaN,NaN,NaN,NaN,NaN,NaN
CL,0.283305,0.600918,0.489613,0.419856,0.347037,0.280997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL,0.298373,0.600918,0.494642,0.419200,0.356440,0.295648,0.232889,NaN,NaN,NaN,NaN,NaN,NaN
CLS,0.475296,0.600918,0.527444,0.474306,0.418325,0.355784,0.311612,0.265034,0.233326,0.197463,0.162694,0.147606,0.125082
FLS,0.495627,0.600918,0.523726,0.446753,0.399519,0.347037,0.300241,0.259130,0.233763,0.204680,0.172097,0.152198,0.126394

File: cmp-bin-taro-1.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,0.114274,0.86,0.76,0.61,0.52,0.42,0.34,0.25,0.16,NaN,NaN,NaN,NaN
FLF,0.107008,0.85,0.73,0.58,0.49,0.38,0.25,NaN,NaN,NaN,NaN,NaN,NaN
CL,0.090362,0.86,0.76,0.61,0.52,0.42,0.34,0.25,0.16,NaN,NaN,NaN,NaN
FL,0.105088,0.85,0.73,0.58,0.49,0.38,0.25,NaN,NaN,NaN,NaN,NaN,NaN
CLS,0.177026,0.86,0.76,0.61,0.52,0.42,0.34,0.25,0.16,0.09,NaN,NaN,NaN
FLS,0.204478,0.85,0.73,0.58,0.52,0.46,0.36,0.29,0.22,0.16,0.13,0.07,NaN

File: cmp-bin-taro-2.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,0.142480,0.768,0.556,0.404,0.244,0.124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLF,0.158796,0.772,0.516,0.336,0.204,0.140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CL,0.116759,0.768,0.556,0.404,0.244,0.120,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL,0.142577,0.772,0.516,0.340,0.216,0.152,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CLS,0.207118,0.768,0.580,0.428,0.260,0.160,0.108,0.076,NaN,NaN,NaN,NaN,NaN
FLS,0.186972,0.772,0.584,0.424,0.304,0.192,0.128,0.080,NaN,NaN,NaN,NaN,NaN

File: cmp-bin-taro-3.csv

,time,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11
CLF,0.192463,0.305687,0.127962,0.045024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLF,0.189468,0.317536,0.123223,0.037915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CL,0.125633,0.305687,0.127962,0.037915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL,0.123291,0.317536,0.123223,0.033175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CLS,0.113113,0.305687,0.149289,0.063981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLS,0.116324,0.317536,0.135071,0.004739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

File: cmp-bin-taro-4.csv

         time        c0  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10  c11
CLF  0.033860  0.008439 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN
FLF  0.033810  0.014768 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN
CL   0.022017  0.008439 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN
FL   0.022030  0.014768 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN
CLS  0.023533  0.008439 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN
FLS  0.023252  0.014768 NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN

In [10]:
4000*0.625

2500.0