In [6]:
import pandas as pd
import numpy as np
import timeit
from kernel_fca_oo import FreqLexiSeriateSystem, ConfLexiSeriateSystem, FCASystemDF, KMeansSystem
from IPython.display import display, HTML

In [7]:
df = pd.DataFrame({'a': [0,1,1], 'b': [0,0,1]})
df.sum().sum()

3

In [8]:

#data = pd.read_csv(KATALOOG+"cmp-bin-grocery.csv", sep=',', index_col=0, encoding='latin1')

In [9]:
c_i = range(0, 100)
KATALOOG = "..\\"

fns = ["cmp-bin-zoo.csv",
       "priv2.csv",
       "cmp-bin-iapb09.csv",
       "cmp-bin-STT_majandus.csv",
       "cmp-bin-TTTH_kardlaga.csv",
       "cmp-bin-grocery.csv", 
       "cmp-bin-ecommerce-sampled.csv", 
       "cmp-bin-house-votes-84.csv",
       "cmp-bin-instacart-600-sample.csv",
       "cmp-bin-student-gradings.csv",
       "cmp-bin-taro-1.csv",
       "cmp-bin-taro-2.csv",
       "cmp-bin-taro-3.csv",
       "cmp-bin-taro-4.csv"]

for fn in fns:
    print("\nFile:", fn)
    data = pd.read_csv(KATALOOG+fn, sep=',', index_col=0, encoding='latin1')
    result_df = pd.DataFrame()
    #systems = {"MS": FCASystemDF(data), "FL": FreqLexiSeriateSystem(data)}
    systems = {"CL": ConfLexiSeriateSystem(data), "FL": FreqLexiSeriateSystem(data)}
    ones = data.sum().sum()
    for s_name, system in systems.items():
        start = timeit.default_timer()
        #_, uc =  system.conceptchaincover_v2(uncovered=0.0, max_cc=100)
        _, uc =  system.conceptchaincover(uncovered=0.0, max_cc=100)
        time = timeit.default_timer() - start
        if len(uc) < len(c_i):
            uc += [0] * (len(c_i) - len(uc))  
        result_df[s_name] = [int((1-x)*ones) for x in uc[:len(c_i)]]
    #[uc for (_, uc) in zip(system.conceptchaincover())]
    display(result_df)
    result_df.to_csv(path_or_buf=KATALOOG+"dres-"+fn)

File: cmp-bin-zoo.csv

     CL   FL
0   281  276
1   367  366
2   510  410
3   575  466
4   618  587
5   628  615
6   639  627
7   648  642
8   652  648
9   656  654
10  660  658
11  660  660
12  660  660
13  660  660
14  660  660
15  660  660
16  660  660
17  660  660
18  660  660
19  660  660
20  660  660
21  660  660
22  660  660
23  660  660
24  660  660
25  660  660
26  660  660
27  660  660
28  660  660
29  660  660
..  ...  ...
70  660  660
71  660  660
72  660  660
73  660  660
74  660  660
75  660  660
76  660  660
77  660  660
78  660  660
79  660  660
80  660  660
81  660  660
82  660  660
83  660  660
84  660  660
85  660  660
86  660  660
87  660  660
88  660  660
89  660  660
90  660  660
91  660  660
92  660  660
93  660  660
94  660  660
95  660  660
96  660  660
97  660  660
98  660  660
99  660  660

[100 rows x 2 columns]

File: priv2.csv

      CL    FL
0   2167  2137
1   2208  2201
2   2267  2230
3   2294  2316
4   2404  2392
5   2502  2465
6   2588  2513
7   2658  2570
8   2692  2619
9   2718  2649
10  2751  2668
11  2770  2761
12  2824  2789
13  2871  2921
14  2978  2956
15  3010  3003
16  3125  3024
17  3213  3123
18  3219  3190
19  3219  3238
20  6354  3315
21  6354  3336
22  6354  3346
23  6354  3353
24  6354  3366
25  6354  3373
26  6354  3392
27  6354  3399
28  6354  3403
29  6354  3411
..   ...   ...
70  6354  6354
71  6354  6354
72  6354  6354
73  6354  6354
74  6354  6354
75  6354  6354
76  6354  6354
77  6354  6354
78  6354  6354
79  6354  6354
80  6354  6354
81  6354  6354
82  6354  6354
83  6354  6354
84  6354  6354
85  6354  6354
86  6354  6354
87  6354  6354
88  6354  6354
89  6354  6354
90  6354  6354
91  6354  6354
92  6354  6354
93  6354  6354
94  6354  6354
95  6354  6354
96  6354  6354
97  6354  6354
98  6354  6354
99  6354  6354

[100 rows x 2 columns]

File: cmp-bin-iapb09.csv

      CL    FL
0   4872  4663
1   5032  4801
2   5133  4906
3   5252  5025
4   5301  5116
5   5375  5211
6   5519  5375
7   5765  5554
8   5866  5643
9   5944  5725
10  5984  5765
11  6073  5897
12  6117  5993
13  6138  6074
14  6163  6160
15  6232  6201
16  6318  6251
17  6391  6324
18  6444  6366
19  6479  6375
20  6497  6383
21  6512  6429
22  6518  6454
23  6521  6473
24  6530  6481
25  6535  6489
26  6537  6496
27  6543  6511
28  6547  6518
29  6550  6534
..   ...   ...
70  6553  6553
71  6553  6553
72  6553  6553
73  6553  6553
74  6553  6553
75  6553  6553
76  6553  6553
77  6553  6553
78  6553  6553
79  6553  6553
80  6553  6553
81  6553  6553
82  6553  6553
83  6553  6553
84  6553  6553
85  6553  6553
86  6553  6553
87  6553  6553
88  6553  6553
89  6553  6553
90  6553  6553
91  6553  6553
92  6553  6553
93  6553  6553
94  6553  6553
95  6553  6553
96  6553  6553
97  6553  6553
98  6553  6553
99  6553  6553

[100 rows x 2 columns]

File: cmp-bin-STT_majandus.csv

      CL    FL
0   2716  2726
1   2891  2902
2   3026  3001
3   3151  3192
4   3294  3341
5   3438  3460
6   3549  3507
7   3672  3651
8   3750  3693
9   3814  3743
10  3987  3824
11  4069  3866
12  4097  3913
13  4122  3967
14  4145  4078
15  4188  4100
16  4240  4124
17  4286  4254
18  4317  4302
19  4335  4390
20  4377  4414
21  4421  4443
22  4453  4486
23  4472  4537
24  4491  4546
25  4519  4566
26  4534  4594
27  4548  4618
28  4563  4653
29  4579  4670
..   ...   ...
70  5014  5062
71  5016  5064
72  5018  5067
73  5020  5071
74  5022  5073
75  5024  5075
76  5025  5077
77  5026  5078
78  5027  5079
79  5061  5080
80  5070  5081
81  5078  5081
82  5082  5169
83  5084  5169
84  5085  5169
85  5086  5169
86  5087  5169
87  5087  5169
88  5169  5169
89  5169  5169
90  5169  5169
91  5169  5169
92  5169  5169
93  5169  5169
94  5169  5169
95  5169  5169
96  5169  5169
97  5169  5169
98  5169  5169
99  5169  5169

[100 rows x 2 columns]

File: cmp-bin-TTTH_kardlaga.csv

      CL    FL
0    973   973
1   1039  1088
2   1086  1134
3   1157  1189
4   1233  1259
5   1284  1271
6   1355  1286
7   1415  1335
8   1437  1378
9   1474  1405
10  1545  1424
11  1599  1472
12  1661  1491
13  1682  1520
14  1697  1539
15  1705  1549
16  1714  1560
17  1727  1569
18  1736  1622
19  1748  1635
20  1761  1643
21  1776  1658
22  1791  1668
23  1798  1708
24  1862  1722
25  1877  1746
26  1894  1753
27  1909  1763
28  1923  1769
29  1933  1773
..   ...   ...
70  1973  1973
71  1973  1973
72  1973  1973
73  1973  1973
74  1973  1973
75  1973  1973
76  1973  1973
77  1973  1973
78  1973  1973
79  1973  1973
80  1973  1973
81  1973  1973
82  1973  1973
83  1973  1973
84  1973  1973
85  1973  1973
86  1973  1973
87  1973  1973
88  1973  1973
89  1973  1973
90  1973  1973
91  1973  1973
92  1973  1973
93  1973  1973
94  1973  1973
95  1973  1973
96  1973  1973
97  1973  1973
98  1973  1973
99  1973  1973

[100 rows x 2 columns]

File: cmp-bin-grocery.csv

     CL   FL
0    69   69
1    98   94
2   114  120
3   130  141
4   154  166
5   169  179
6   191  195
7   208  209
8   222  220
9   227  229
10  242  238
11  256  245
12  266  254
13  279  263
14  286  275
15  288  284
16  295  289
17  304  296
18  310  304
19  316  312
20  324  318
21  330  323
22  335  328
23  340  337
24  344  338
25  348  341
26  352  343
27  356  347
28  360  351
29  364  355
..  ...  ...
70  408  408
71  408  408
72  408  408
73  408  408
74  408  408
75  408  408
76  408  408
77  408  408
78  408  408
79  408  408
80  408  408
81  408  408
82  408  408
83  408  408
84  408  408
85  408  408
86  408  408
87  408  408
88  408  408
89  408  408
90  408  408
91  408  408
92  408  408
93  408  408
94  408  408
95  408  408
96  408  408
97  408  408
98  408  408
99  408  408

[100 rows x 2 columns]

File: cmp-bin-ecommerce-sampled.csv

      CL    FL
0    243   243
1    424   424
2    517   527
3    616   615
4    695   701
5    790   781
6    857   855
7    938   926
8   1008   993
9   1069  1056
10  1131  1123
11  1198  1193
12  1256  1249
13  1310  1306
14  1366  1361
15  1417  1407
16  1467  1452
17  1514  1494
18  1558  1542
19  1595  1589
20  1627  1624
21  1666  1660
22  1693  1689
23  1722  1723
24  1754  1752
25  1777  1778
26  1801  1805
27  1822  1828
28  1844  1849
29  1868  1870
..   ...   ...
70  2259  2259
71  2259  2259
72  2259  2259
73  2259  2259
74  2259  2259
75  2259  2259
76  2259  2259
77  2259  2259
78  2259  2259
79  2259  2259
80  2259  2259
81  2259  2259
82  2259  2259
83  2259  2259
84  2259  2259
85  2259  2259
86  2259  2259
87  2259  2259
88  2259  2259
89  2259  2259
90  2259  2259
91  2259  2259
92  2259  2259
93  2259  2259
94  2259  2259
95  2259  2259
96  2259  2259
97  2259  2259
98  2259  2259
99  2259  2259

[100 rows x 2 columns]

File: cmp-bin-house-votes-84.csv

      CL    FL
0    647   650
1    921   905
2   1250  1193
3   1959  1483
4   2675  1732
5   2950  2052
6   3093  2313
7   3224  2496
8   3411  2748
9   3460  2923
10  3531  3161
11  3601  3483
12  3687  3619
13  3736  3684
14  3772  3745
15  3806  3778
16  3835  3809
17  3847  3821
18  3851  3837
19  3853  3849
20  3855  3854
21  3856  3856
22  3856  3856
23  3856  3856
24  3856  3856
25  3856  3856
26  3856  3856
27  3856  3856
28  3856  3856
29  3856  3856
..   ...   ...
70  3856  3856
71  3856  3856
72  3856  3856
73  3856  3856
74  3856  3856
75  3856  3856
76  3856  3856
77  3856  3856
78  3856  3856
79  3856  3856
80  3856  3856
81  3856  3856
82  3856  3856
83  3856  3856
84  3856  3856
85  3856  3856
86  3856  3856
87  3856  3856
88  3856  3856
89  3856  3856
90  3856  3856
91  3856  3856
92  3856  3856
93  3856  3856
94  3856  3856
95  3856  3856
96  3856  3856
97  3856  3856
98  3856  3856
99  3856  3856

[100 rows x 2 columns]

File: cmp-bin-instacart-600-sample.csv

      CL    FL
0    776   770
1    993   964
2   1127  1098
3   1301  1273
4   1436  1409
5   1582  1512
6   1677  1642
7   1786  1751
8   1880  1856
9   1993  1922
10  2067  2024
11  2145  2096
12  2228  2157
13  2306  2229
14  2368  2296
15  2413  2350
16  2493  2425
17  2560  2496
18  2626  2567
19  2698  2629
20  2760  2694
21  2809  2763
22  2879  2824
23  2941  2897
24  3003  2949
25  3051  3011
26  3095  3067
27  3152  3113
28  3204  3165
29  3242  3221
..   ...   ...
70  4427  4428
71  4441  4442
72  4455  4455
73  4467  4467
74  4480  4481
75  4493  4493
76  4505  4504
77  4517  4513
78  4529  4524
79  4540  4535
80  4549  4545
81  4557  4553
82  4565  4562
83  4574  4570
84  4584  4580
85  4593  4588
86  4602  4596
87  4611  4606
88  4618  4615
89  4626  4623
90  4632  4631
91  4639  4638
92  4645  4644
93  4652  4650
94  4657  4656
95  4662  4662
96  4667  4668
97  4672  4673
98  4676  4678
99  4681  4683

[100 rows x 2 columns]

File: cmp-bin-student-gradings.csv

      CL    FL
0   1824  1824
1   2161  2178
2   2404  2529
3   2660  2746
4   2946  2986
5   3148  3200
6   3361  3388
7   3506  3504
8   3670  3637
9   3828  3786
10  3898  3877
11  4000  3995
12  4130  4091
13  4209  4140
14  4297  4237
15  4353  4323
16  4397  4374
17  4444  4432
18  4487  4468
19  4510  4501
20  4535  4529
21  4552  4550
22  4567  4559
23  4570  4566
24  4573  4573
25  4573  4573
26  4573  4573
27  4573  4573
28  4573  4573
29  4573  4573
..   ...   ...
70  4573  4573
71  4573  4573
72  4573  4573
73  4573  4573
74  4573  4573
75  4573  4573
76  4573  4573
77  4573  4573
78  4573  4573
79  4573  4573
80  4573  4573
81  4573  4573
82  4573  4573
83  4573  4573
84  4573  4573
85  4573  4573
86  4573  4573
87  4573  4573
88  4573  4573
89  4573  4573
90  4573  4573
91  4573  4573
92  4573  4573
93  4573  4573
94  4573  4573
95  4573  4573
96  4573  4573
97  4573  4573
98  4573  4573
99  4573  4573

[100 rows x 2 columns]

File: cmp-bin-taro-1.csv

     CL   FL
0    14   15
1    24   27
2    39   42
3    48   48
4    58   54
5    65   64
6    75   71
7    84   78
8    91   84
9    96   87
10   99   93
11  100   96
12  100   98
13  100   99
14  100  100
15  100  100
16  100  100
17  100  100
18  100  100
19  100  100
20  100  100
21  100  100
22  100  100
23  100  100
24  100  100
25  100  100
26  100  100
27  100  100
28  100  100
29  100  100
..  ...  ...
70  100  100
71  100  100
72  100  100
73  100  100
74  100  100
75  100  100
76  100  100
77  100  100
78  100  100
79  100  100
80  100  100
81  100  100
82  100  100
83  100  100
84  100  100
85  100  100
86  100  100
87  100  100
88  100  100
89  100  100
90  100  100
91  100  100
92  100  100
93  100  100
94  100  100
95  100  100
96  100  100
97  100  100
98  100  100
99  100  100

[100 rows x 2 columns]

File: cmp-bin-taro-2.csv

     CL   FL
0    57   56
1   105  104
2   143  144
3   185  174
4   210  202
5   223  218
6   231  230
7   240  237
8   246  246
9   249  248
10  250  250
11  250  250
12  250  250
13  250  250
14  250  250
15  250  250
16  250  250
17  250  250
18  250  250
19  250  250
20  250  250
21  250  250
22  250  250
23  250  250
24  250  250
25  250  250
26  250  250
27  250  250
28  250  250
29  250  250
..  ...  ...
70  250  250
71  250  250
72  250  250
73  250  250
74  250  250
75  250  250
76  250  250
77  250  250
78  250  250
79  250  250
80  250  250
81  250  250
82  250  250
83  250  250
84  250  250
85  250  250
86  250  250
87  250  250
88  250  250
89  250  250
90  250  250
91  250  250
92  250  250
93  250  250
94  250  250
95  250  250
96  250  250
97  250  250
98  250  250
99  250  250

[100 rows x 2 columns]

File: cmp-bin-taro-3.csv

     CL   FL
0   293  288
1   359  365
2   395  420
3   422  422
4   422  422
5   422  422
6   422  422
7   422  422
8   422  422
9   422  422
10  422  422
11  422  422
12  422  422
13  422  422
14  422  422
15  422  422
16  422  422
17  422  422
18  422  422
19  422  422
20  422  422
21  422  422
22  422  422
23  422  422
24  422  422
25  422  422
26  422  422
27  422  422
28  422  422
29  422  422
..  ...  ...
70  422  422
71  422  422
72  422  422
73  422  422
74  422  422
75  422  422
76  422  422
77  422  422
78  422  422
79  422  422
80  422  422
81  422  422
82  422  422
83  422  422
84  422  422
85  422  422
86  422  422
87  422  422
88  422  422
89  422  422
90  422  422
91  422  422
92  422  422
93  422  422
94  422  422
95  422  422
96  422  422
97  422  422
98  422  422
99  422  422

[100 rows x 2 columns]

File: cmp-bin-taro-4.csv

     CL   FL
0   470  467
1   474  471
2   474  474
3   474  474
4   474  474
5   474  474
6   474  474
7   474  474
8   474  474
9   474  474
10  474  474
11  474  474
12  474  474
13  474  474
14  474  474
15  474  474
16  474  474
17  474  474
18  474  474
19  474  474
20  474  474
21  474  474
22  474  474
23  474  474
24  474  474
25  474  474
26  474  474
27  474  474
28  474  474
29  474  474
..  ...  ...
70  474  474
71  474  474
72  474  474
73  474  474
74  474  474
75  474  474
76  474  474
77  474  474
78  474  474
79  474  474
80  474  474
81  474  474
82  474  474
83  474  474
84  474  474
85  474  474
86  474  474
87  474  474
88  474  474
89  474  474
90  474  474
91  474  474
92  474  474
93  474  474
94  474  474
95  474  474
96  474  474
97  474  474
98  474  474
99  474  474

[100 rows x 2 columns]

In [10]:
4000*0.625

2500.0